<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar | {{ Contato.nome }}</title>
</head>
<body>
    <h1>Deseja apagar "{{ Contato.nome }}"</h1>
    <form action="{% url 'deletar_contato' pk=Contato.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sim, quero apagar!">
        <input type="button" value="Não quero apagar!" onclick="location.href = '{% url 'ver_contatos' %}'">
    </form>
</body>
</html>